@font-face {
    font-family: "Tabac";
    src: url("TabacGlam.otf");
}

body {
    --brass: #b6a644;
    --border-size: 0.4vh;
    background: #000000;
    color: var(--brass);
    font-family: "Tabac", sans-serif;
    text-align: center;

    border: var(--border-size) solid var(--brass);
    margin: 3vh 1vh;
    min-height: 92vh;
    height: 97%;
}

body:after {
    content: "";
    border: var(--border-size) solid var(--brass);
    position: absolute;

    top: 1vh;
    left: 3vh;
    right: 3vh;
    z-index: -1;
}

.main {
    display: flex;
    height: 8.5vh;
    /*padding: 2vh;*/
    width: 250px;
    scale: 60%;
    justify-content: center;
    align-items: center;
}

.button {
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 1.2em;
    position: relative;
    text-decoration: none;
    padding: 0.5em;
    box-shadow: inset 0 0 0 1px #e0c351;
    min-width: 250px;
    text-align: center;
}
.button__label {
    display: block;
    background-color: transparent;
    color: #e0c351;
    padding: 1.5em 2em;
    transition: color 500ms ease, background-color 500ms ease;
}
.button:hover .button__label, .button:focus .button__label {
    color: #000;
    background-color: rgba(224, 195, 81, 0.9);
}
.button__ornament {
    position: absolute;
}
.button__ornament--vertical {
    top: -0.5em;
    bottom: -0.5em;
    left: 0;
    right: 0;
}
.button__ornament--horisontal {
    left: -0.5em;
    right: -0.5em;
    top: 0;
    bottom: 0;
}
.button__ornament-top-bottom, .button__ornament-left-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.button__ornament-top-bottom:before, .button__ornament-top-bottom:after, .button__ornament-left-right:before, .button__ornament-left-right:after {
    content: "";
    position: absolute;
    background-color: #e0c351;
    transition: transform 400ms cubic-bezier(0.54, 0.06, 0.39, 0.96);
}
.button__ornament-top-bottom:before, .button__ornament-top-bottom:after {
    height: 1px;
    left: 0;
    right: 0;
}
.button__ornament-top-bottom:before {
    top: 0;
}
.button__ornament-top-bottom:after {
    bottom: 0;
}
.button__ornament-left-right:before, .button__ornament-left-right:after {
    width: 1px;
    top: 0;
    bottom: 0;
}
.button__ornament-left-right:before {
    left: 0;
}
.button__ornament-left-right:after {
    right: 0;
}
.button:hover .button__ornament-left-right:before, .button:hover .button__ornament-left-right:after, .button:focus .button__ornament-left-right:before, .button:focus .button__ornament-left-right:after {
    transform: scale(1, 0);
}
.button:hover .button__ornament-top-bottom:before, .button:hover .button__ornament-top-bottom:after, .button:focus .button__ornament-top-bottom:before, .button:focus .button__ornament-top-bottom:after {
    transform: scale(0, 1);
}